<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" ng-app="dojo" ng-controller="DojoController">

<head>
    <meta charset="utf-8">
    <title>DOJO</title>

    <!-- compiled CSS -->
	<% styles.forEach( function ( file ) { %>
		<link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript -->
	<% scripts.forEach( function ( file ) { %>
    	<script type="text/javascript" src="<%= file %>"></script>
    <% }); %>
	
</head>

<body>
	
	<nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">
                <img class="dojo-logo" src="assets/logo.png"/>
                DOJO
            </a>
        </div>
    </nav>
	
	<div class="container">
		<form class="form-inline" ng-submit="createTask()">
			<div class="form-group">
				<label class="sr-only" for="newTask">New task</label>
				<input ng-model="text" type="text" class="form-control" id="newTask" placeholder="New task" required="required" />
			</div>
			<button type="submit" class="btn btn-default" ng-disabled="!text">Add</button>
		</form>
		
		<h3>List of tasks</h3>
		
		<div class="row">
			<div class="col-md-12">
				<table class="table table-hover table-striped">
					<tbody>
						<tr ng-repeat="task in tasks">
							<td ng-class="{'dojo-task-text-done': task.done}">{{task.text}}</td>
							<td>
								<span ng-if="!task.done" ng-click="taskStatus(task, true)" class="dojo-task-todo" title="Complete this task"></span>
								<span ng-if="task.done" ng-click="taskStatus(task, false)" class="dojo-task-done" title="Reopen this task"></span>
								<span class="dojo-task-delete" ng-click="taskDelete(task)" title="Delete this task"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
	</div>
	
</body>

</html>